@model WebApplicationBE.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>XÓA SẢN PHẨM</h2>

<h3 class="bg-warning">Bạn chắc chắn muốn xóa danh mục này không?</h3>
@Html.Partial("PVProdInfo",Model)
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-primary" /> 
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-sm" })
    </div>
}