@model WebApplicationBE.Models.ViewModel.HomeProductVM
@{
    ViewBag.Title = "Home Page";
    <link rel="stylesheet" type="text/css" href="~/Content/CustomerHome.css" />
}

<section class="container-fluid banner">
    <div class="banner-container">
        <h2>Chào mừng đến Trang Web Shop</h2>
        <p>Buy stuff</p>
        <a href="#" class="btnBanner">Bắt đầu mua sắm</a>
    </div>
</section>

<section class="container-fluid" searchProd>
    <h2>Tìm kiếm sản phẩm</h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <div class="form-group search-container">
                    @Html.TextBoxFor(m => m.SearchTerm, new {
                        @class="search-input", 
                        placeholder = "Nhập tên, mô tả hoặc chủng loại sản phẩm"})
                    <button type="submit" class="search-button">Tìm kiếm</button>
                </div>
            }
</section>
<hr />

@Html.Partial("PVFeatureProduct",Model)

@Html.Partial("PVNewProduct", Model)